[Unit]
Description=Stoarama Relay
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
ExecStart={{.ExePath}} run
ExecStopPost={{.ExePath}} record-exit --service-result=${SERVICE_RESULT} --exit-code=${EXIT_CODE} --exit-status=${EXIT_STATUS}
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target
